@media screen and (max-width:799px)
{
    .header {
  background-color:#a24f5e;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
    body{
        height: 900px;
    }
    .logo
    {
      font-family:'Righteous', cursive;
      color:rgb(255, 255, 255);
    }
  
    #start_element
    {
      position: fixed;
      top:0;
      background-color: #123461;
      height:300px;
      width: 100%;
    }
  
  
    #start_element img{
      width: 250px;
      height: 250px;
      float: right;
    }
  
    .text_elementOne{
      position: fixed;
      margin-top: 0;
      overflow: hidden;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.213);
      height:300px;
      width: 100%;
      color: #f4f4f49a;
      font-size:13px;
      text-align: justify;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    strong{
        color: rgb(240, 147, 84);
        font-size: 20px;
    }
  
    p
    {
        padding: 20px;
        position: fixed;
        margin-top: 70px;
        font-size: 14px;
    }
  
    #quote
    {
      text-indent:10px;
      width: 100%;
      position: fixed;
      margin-top: 50px;
    }
    .quote
    {
        padding: 0 80px 0 0px;
        color: white;
        width: 100%;
        font-size: 10px;
        position: fixed;
        margin-top: 3vh;
    }
  
    #home
  {
    height: 300px;
    color: rgba(0, 0, 0, 0);
    margin-top:150px;
  }
  
  
    #second_element
    {
      height: 800px;
     /* background-color: rgb(187, 120, 89);*/
      background-color:#b47775;
      letter-spacing: 4px;
      position: absolute;
      text-align: center;
      margin-top: 250px;
      width: 100%;
      
    }
  
    .element2_heading
    {
      font-size: 3vh;
      font-family: 'Ubuntu', sans-serif;
      color: rgb(255, 255, 255);
      align-items: center;
      text-align: center;
      align-content: center;
    }
  
  .materials_list
  {
    width: 100%;
    align-items:center;
    line-height: 50px;
  }
  
  .children .child
  {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 255, 255) ;
  }
  .child {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  .child:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .child:hover:after { 
    width: 100%; 
    left: 0; 
  }
  
  
  
  
  /*
  
  progress*/
  
  .progress_bar{
    color: #fff;
    background-color:#b47775 ;
    margin-top: 1000px;
    width: 100%;
    position: absolute;
    padding: 10%;
  }
  
  .progressPy{
    background: rgb(255, 123, 123);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 15px;
    width: 80%;
  }
  
  .progressHt{
    background-color:rgba(255, 170, 203, 0.645);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 15px;
    width: 80%;
  }
  
  .progressCs{
    background-color:rgb(240, 231, 102);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 15px;
    width: 80%;
  }
  .progressJs{
    background-color:rgb(240, 102, 201);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 15px;
    width: 80%;
  }
  
  .progress-valuePython {
    animation: python 3s normal forwards;
    box-shadow: 0 10px 40px -10px rgb(255, 172, 172);
    border-radius: 100px;
    background: rgb(145, 30, 30);
    height: 8px;
    width: 0;
  }
  .progress-valueHtml{
    animation: Html 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(160, 67, 100);
    height: 8px;
    width: 0;
  }
  
  .progress-valueCss {
    animation: Css 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(151, 118, 8);
    height: 8px;
    width: 0;
  }

  .progress-valueJs {
    animation: Js 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: rgb(151,118, 8);
    height: 8px;
    width: 0;
  }
  
  @keyframes python {
    0% { width: 0; }
    100% { width: 6.1%; }
  }
  
  @keyframes Html {
    0% { width: 0; }
    100% { width: 25.6%; }
  }
  @keyframes Css {
    0% { width: 0; }
    100% { width: 61.1%; }
  }
  @keyframes Js {
    0% { width: 0; }
    100% { width: 7.2%; }
  }
  
  
  /*Footer*/
  
  #Contact{
    float: left;
    position: absolute;
    background-color: #000;
    height: 400px;
    margin-top:20px;
    margin-left:-10%;
    width: 100%;
  }
  
  #author{
    margin-top: 10px;
    color: white;
    padding: none;
    margin-left: 10px;
  }
  i a{
    color: #fff;
    text-decoration: none;
  }
  #author i{
    text-decoration: none;
    font-size: medium;
    margin-top: 40px;
    padding-left: 0px;
    word-spacing: 30px;
  }
  
  hr{
    width: 100%;
    position: absolute;
    margin-top: 100px;
  }
  #design p{
      color:white;
      text-align: center;
      margin-top:130px;
      position: relative;

  }

.py_text{
    color: white;
    margin-top:-40px;
    position: absolute;
}
  
}